.nodered/flows_UNDERGROUND.json
[{"type":"tab","id":"a9e89ef7.56176","label":"Microcom"},{"type":"tab","id":"d192d508.2e6d28","label":"Digi Cloud"},{"type":"tab","id":"bb01821c.44fe8","label":"Syscom"},{"type":"tab","id":"14e2d63d.eb1d2a","label":"file function test"},{"type":"tab","id":"bef21dd7.410de","label":"Loopback"},{"type":"tab","id":"dcce7a00.a1f928","label":"Tachos"},{"id":"d80e2163.27f1e","type":"mongodb2","z":"d192d508.2e6d28","hostname":"127.0.0.1","port":"27017","db":"sensortrack","name":"","options":"","parallelism":"-1"},{"id":"5185f3a8.ae7a0c","type":"mongodb2","z":"bb01821c.44fe8","hostname":"127.0.0.1","port":"27017","db":"sensortrack","name":"","options":"","parallelism":"-1"},{"id":"e3457e98.1cba8","type":"watch","z":"a9e89ef7.56176","name":"in-box","files":"/home/miguel/temp/nodered/datalogger/","x":139,"y":88,"wires":[["b1d62e3.f4e29d"]]},{"id":"871fd06a.78e03","type":"function","z":"a9e89ef7.56176","name":"historic 01","func":"console.log('Start historic 01 node');\n\nvar fs = context.global.fs;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\n// move sensor file to historic folder\nfs.rename('/home/miguel/temp/nodered/datalogger/' + msg.file, '/home/miguel/temp/nodered/datalogger/.historic/' + msg.file, function (err) {\n    if (err) node.error(\"Historic error\", msg);\n    \n    node.log('Historic complete');\n    \n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":702,"y":88,"wires":[["66aab4ac.99554c"]]},{"id":"b1d62e3.f4e29d","type":"function","z":"a9e89ef7.56176","name":"parse","func":"console.log('Start parse node');\n\nvar fs = context.global.fs;\nvar moment = context.global.moment;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\n// preveent when remove files. The watch fire with a none file\nif (msg.type == 'none')   \n    return;\n\n// recover gateway from file name\nvar tokens = msg.file.split(\"_\");\nvar gateway = tokens[0];\nconsole.log('Gateway name: ' + gateway);   \n\n// recover sensor file from folder\nfs.readFile('/home/miguel/temp/nodered/datalogger/' + msg.file, function(err, data) {\n    if (err) node.error(\"Reading file error\", msg);\n\n    if (data === undefined) {\n        console.log('data is undefined');   \n        node.error(\"file undefined\", msg);\n    }\n    \n    var array = data.toString().split(\"\\n\");\n    \n    var measurement = [];\n    for(var line in array) {\n        var register = array[line];\n        \n        var sensor = {};\n        sensor.date = moment(register.substring(2, 12), \"YYMMDDHHmm\").toDate();\n        sensor.channel = register.substring(12, 14);\n        sensor.reason = register.substring(14, 16);\n        sensor.value = parseFloat(register.substring(16));\n        \n        // add sensor measure to the collection\n        measurement.push(sensor);\n    }\n    \n    // initialize context measurement\n    msg.collection = 'Track';\n    msg.operation  = 'insertMany';\n    msg.payload = measurement;\n    msg.gateway = gateway;\n    \n    console.log('Persist ' + msg.payload.length + ' measures');\n\n    node.send(msg);\n});\n\nreturn;","outputs":"1","noerr":0,"x":309,"y":88,"wires":[["6eac3077.9153d"]]},{"id":"66aab4ac.99554c","type":"debug","z":"a9e89ef7.56176","name":"out debug","active":true,"console":"false","complete":"file","x":880,"y":88,"wires":[]},{"id":"f831254.f07ced8","type":"catch","z":"a9e89ef7.56176","name":"catch all","scope":["b1d62e3.f4e29d","af35da82.50ca28"],"x":241,"y":277,"wires":[["98ac6df5.67539"]]},{"id":"52432a5f.adbcd4","type":"debug","z":"a9e89ef7.56176","name":"error","active":true,"console":"false","complete":"error.message","x":598,"y":277,"wires":[]},{"id":"98ac6df5.67539","type":"function","z":"a9e89ef7.56176","name":"historic 02","func":"console.log('Start historic 02 node');\n\nvar fs = context.global.fs;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\nif (msg.file === undefined)\n    return msg;\n    \n// move sensor file to historic folder\nfs.rename('/home/miguel/temp/nodered/datalogger/' + msg.file, '/home/miguel/temp/nodered/datalogger/.historic/' + msg.file, function (err) {\n    if (err) node.error(\"Historic error\", msg);\n\n    node.log('Historic complete');\n    \n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":422,"y":277,"wires":[["52432a5f.adbcd4"]]},{"id":"1a9d3105.e562cf","type":"inject","z":"d192d508.2e6d28","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":112,"y":157,"wires":[["6ed7de08.91282"]]},{"id":"6ed7de08.91282","type":"http request","z":"d192d508.2e6d28","name":"http digi cloud service","method":"GET","ret":"txt","url":"http://login.etherios.co.uk/ws/DataStream/dia/channel/00000000-00000000-00409DFF-FF7C5D82","x":299,"y":157,"wires":[["f48a5d9e.0b75a"]]},{"id":"dd81c940.227e38","type":"debug","z":"d192d508.2e6d28","name":"out debug","active":true,"console":"false","complete":"payload","x":1000,"y":157,"wires":[]},{"id":"f48a5d9e.0b75a","type":"xml","z":"d192d508.2e6d28","name":"xml parser","attr":"","chr":"","x":504,"y":157,"wires":[["29564a99.d6a9b6"]]},{"id":"29564a99.d6a9b6","type":"function","z":"d192d508.2e6d28","name":"log","func":"var moment = context.global.moment;\nvar result = msg.payload.result;\nvar measurement = [];\n\nfor (i=0; i<result.DataStream.length; i++) {\n    var sensor = {};\n    \n    sensor.channel = result.DataStream[i].streamId[0];\n    sensor.value = parseFloat(result.DataStream[i].currentValue[0].data);\n    //sensor.date = moment(result.DataStream[i].currentValue[0].serverTimestampISO, moment.ISO_8601).toDate();\n    sensor.date = moment(result.DataStream[i].currentValue[0].serverTimestampISO, \"YYYY-MM-DDTHH:mm:ss Z\").toDate();\n    \n    // add sensor measure to the collection\n    measurement.push(sensor);\n        \n    console.log(\"Channel: \" + sensor.channel);\n    console.log(\"Value: \" + sensor.value);\n    console.log(\"Date: \" + sensor.date);    \n    \n    // initialize context measurement\n    msg.collection = 'Track';\n    msg.operation  = 'insertMany';\n    msg.payload    = [];\n    msg.payload.push(measurement);     \n    \n    console.log('Persist ' + msg.payload.length[0] + ' measures');\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":666,"y":157,"wires":[["4c6bff64.b394"]]},{"id":"4c6bff64.b394","type":"mongodb2 in","z":"d192d508.2e6d28","service":"_ext_","configNode":"d80e2163.27f1e","name":"persist","collection":"","operation":"","x":824,"y":157,"wires":[["dd81c940.227e38"]]},{"id":"d49cf1ac.2b631","type":"catch","z":"d192d508.2e6d28","name":"","scope":null,"x":345,"y":300,"wires":[["f59f261.f0a60d8"]]},{"id":"f59f261.f0a60d8","type":"debug","z":"d192d508.2e6d28","name":"error","active":true,"console":"false","complete":"payload","x":586,"y":300,"wires":[]},{"id":"71ccd58b.8e332c","type":"watch","z":"bb01821c.44fe8","name":"in-box","files":"/home/miguel/temp/nodered/accelerometer/","x":173,"y":117,"wires":[["bd1323c5.42ece"]]},{"id":"bd1323c5.42ece","type":"function","z":"bb01821c.44fe8","name":"parser","func":"console.log('Start parse node');\n\nvar fs = context.global.fs;\nvar moment = context.global.moment;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\n// preveent when remove files. The watch fire with a none file\nif (msg.type == 'none')   \n    return;\n        \n// recover sensor file from folder\nfs.readFile('/home/miguel/temp/nodered/accelerometer/' + msg.file, function(err, data) {\n    if (err) \n        node.error(\"Reading file error\", msg);\n\n    var array = data.toString().split(\"\\n\");\n\n    // define channels position and name\n    var Time=0\n    var X=1, CHANNEL_X=\"CHANNEL_X\";\n    var Y=2, CHANNEL_Y=\"CHANNEL_Y\";\n    var Z=3, CHANNEL_Z=\"CHANNEL_Z\";\n    \n    // measurement collection\n    var measurement = [];\n    \n    // hub name and measurement moment\n    var hub;\n    var startDate;\n    for(var line in array) {\n        var register = array[line];\n        \n        // get hub name\n        if (register == '# [Recorder]') {\n            hub = array[Number(line)+2].substring(7, array[Number(line)+2].length);\n            console.log('Hub name: ' + hub);\n        }\n        \n        // get start date/time\n        if (register == '# [File]') {\n            startDate = moment(array[Number(line)+3].substring(12, array[Number(line)+3].length) +\n                               \" \" +\n                               array[Number(line)+4].substring(12, array[Number(line)+4].length),\n                              \"YYYY-MM-DD HH:mm:ss.sss\").toDate();\n            console.log('Start date: ' + startDate);\n        }\n            \n        // get measurements\n        if (register.substring(0, 1) != '#') {\n            var token = register.toString().split(\" \");\n            \n            // get X channel sata\n            var sensor_X = {};\n            sensor_X.date = moment(startDate).add(token[Time], 'seconds').toDate();\n            sensor_X.channel = CHANNEL_X;\n            sensor_X.reason = null;\n            sensor_X.value = parseFloat(token[X]);\n\n            measurement.push(sensor_X);\n            \n            // get Y channel sata\n            var sensor_Y = {};\n            sensor_Y.date = moment(startDate).add(token[Time], 'seconds').toDate();\n            sensor_Y.channel = CHANNEL_Y;\n            sensor_Y.reason = null;\n            sensor_Y.value = parseFloat(token[Y]);\n\n            measurement.push(sensor_Y);\n            \n            // get Z channel sata\n            var sensor_Z = {};\n            sensor_Z.date = moment(startDate).add(token[Time], 'seconds').toDate();\n            sensor_Z.channel = CHANNEL_Z;\n            sensor_Z.reason = null;\n            sensor_Z.value = parseFloat(token[Z]);\n\n            measurement.push(sensor_Z);           \n        }\n    }\n    \n    // initialize context measurement\n    msg.collection = 'Track';\n    msg.operation  = 'insertMany';\n    msg.payload    = [];\n    msg.payload.push(measurement);    \n    \n    console.log('Persist ' + msg.payload[0].length + ' measures');\n\n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":358,"y":117,"wires":[["8edf443.f7120b8"]]},{"id":"8edf443.f7120b8","type":"mongodb2 in","z":"bb01821c.44fe8","service":"_ext_","configNode":"5185f3a8.ae7a0c","name":"persist","collection":"","operation":"","x":547,"y":117,"wires":[["c8e2f9b1.371d08"]]},{"id":"c8e2f9b1.371d08","type":"function","z":"bb01821c.44fe8","name":"historic 01","func":"console.log('Start historic 01 node');\n\nvar fs = context.global.fs;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\n// move sensor file to historic folder\nfs.rename('/home/miguel/temp/nodered/accelerometer/' + msg.file, '/home/miguel/temp/nodered/accelerometer/.historic/' + msg.file, function (err) {\n    if (err) node.error(\"Historic error\", msg);\n    \n    node.log('Historic complete');\n    \n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":740,"y":117,"wires":[["e25c830b.1da38"]]},{"id":"e25c830b.1da38","type":"debug","z":"bb01821c.44fe8","name":"out debug","active":true,"console":"false","complete":"payload","x":956,"y":117,"wires":[]},{"id":"80de7c5d.7f218","type":"catch","z":"bb01821c.44fe8","name":"","scope":null,"x":292,"y":279,"wires":[["a53b9c11.5ac46"]]},{"id":"a53b9c11.5ac46","type":"function","z":"bb01821c.44fe8","name":"historic 02","func":"console.log('Start historic 02 node');\n\nvar fs = context.global.fs;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\nif (msg.file === undefined)\n    return msg;\n    \n// move sensor file to historic folder\nfs.rename('/home/miguel/temp/nodered/accelerometer/' + msg.file, '/home/miguel/temp/nodered/accelerometer/.historic/' + msg.file, function (err) {\n    if (err) node.error(\"Historic error\", msg);\n\n    node.log('Historic complete');\n    \n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":493,"y":279,"wires":[["1c49d920.e3b627"]]},{"id":"1c49d920.e3b627","type":"debug","z":"bb01821c.44fe8","name":"error","active":true,"console":"false","complete":"payload","x":712,"y":279,"wires":[]},{"id":"c94948df.36b6b8","type":"inject","z":"14e2d63d.eb1d2a","name":"Inject","topic":"this is topic from the function","payload":"this data is feeded to the function","payloadType":"string","repeat":"","crontab":"","once":false,"x":306,"y":181,"wires":[["897bcc51.76843"]]},{"id":"897bcc51.76843","type":"file function","z":"14e2d63d.eb1d2a","name":"loopback test file","filename":".nodered/nodes/sample-file-function.red","reloadfile":false,"outputs":"1","x":547,"y":181,"wires":[["6cba8654.934578"]]},{"id":"6cba8654.934578","type":"debug","z":"14e2d63d.eb1d2a","name":"","active":true,"console":"false","complete":"payload","x":774,"y":181,"wires":[]},{"id":"aaa26e92.555d9","type":"inject","z":"bef21dd7.410de","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":326,"y":150,"wires":[["ca9f8ab7.356078"]]},{"id":"ca9f8ab7.356078","type":"function","z":"bef21dd7.410de","name":"loopback test","func":"var loopback = context.global.loopback;\nvar Device = loopback.models.Device;\n\nDevice.find( { where: { deviceHubId: '566d85a22b937b4350d88d19' }, include: 'deviceType' }, function(err, devices) {\n    if (err) return err;\n\n    for(var i in devices) {\n        console.log('Device: ' + devices[i].code + \" - \" + devices[i].description);\n        console.log('Device Type: ' + devices[i].deviceType().code);\n    }\n\n    msg.payload = devices;\n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":555,"y":149,"wires":[["ed2136e.f12dec8"]]},{"id":"ed2136e.f12dec8","type":"debug","z":"bef21dd7.410de","name":"","active":true,"console":"false","complete":"false","x":793,"y":149,"wires":[]},{"id":"6eac3077.9153d","type":"function","z":"a9e89ef7.56176","name":"loopback persist","func":"var loopback = context.global.loopback;\n\nvar DeviceHub = loopback.models.DeviceHub;\nvar Device = loopback.models.Device;\nvar Track = loopback.models.Track;\n\nDeviceHub.findOne({ where: {code: msg.gateway}}, function (err, deviceHub) {\n    if (err) node.error(\"DeviceHub findOne error\", msg);\n\n    // generate track collection \n    msg.payload.forEach(function(measurement) {\n        Device.findOne({ where: {deviceHubId: deviceHub.id, code: measurement.channel}}, function (err, device) {\n            if (err) node.error(\"Device findOne error\", msg);\n            \n            if(device !== null) {\n                console.log('Channel: ' + measurement.channel + ' is Device id: ' + device.id + ' value:' + measurement.value + ' date: ' + measurement.date); \n                \n                // persist track collection\n                Track.create({'deviceId': device.id, 'value': measurement.value, 'date': measurement.date}, function (err, track) {\n                    if (err) node.error(\"Track create error\", msg);\n                });\n            }\n        });\n    });\n\n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":499,"y":88,"wires":[["871fd06a.78e03"]]},{"id":"9318d98d.6d57e8","type":"e-mail in","z":"dcce7a00.a1f928","name":"Tachos","server":"imap.gmail.com","port":"993","box":"INBOX","repeat":"60","x":280,"y":130,"wires":[["a79bf743.efcdc8"]]},{"id":"a79bf743.efcdc8","type":"function","z":"dcce7a00.a1f928","name":"Send Tacho","func":"\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":129,"wires":[["57d9561b.6b02d8"]]},{"id":"57d9561b.6b02d8","type":"debug","z":"dcce7a00.a1f928","name":"","active":true,"console":"false","complete":"header","x":710,"y":130,"wires":[]}]